*{
    list-style-type: none; /* löschen */
}


body {
  
    font-family: Helvetica, sans-serif;
  }
  

.ul-menu {

    color: white;
    background-color: grey;
    overflow: hidden; /* nicht überlappen*/
    text-align: center;
   
}
.li-menu {
   
    float: right;
    padding: 15px;
    font-size: 25px;
}
.a-menu {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block; /* zeige als Block*/
    padding: 17px;
    }
.li-menu a:hover {
    color:white;
    background-color: rgb(197, 191, 191);
}
.title-menu {
    font-size: 50px; 
    display: inline;
    padding-top: 10px;
}

.column {
    width: 50%;
    float: left;
    text-align: center;

}
.img {
    width: 20px;
    height: 20px;
}

.img-profile {
    width: 200px;
    height: 200px;
    border-radius: 200px;;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.left {
    float: left;
    width: 15%;
    text-align: left;
}


.right {
    float: left;
    width: 85%;
    
}

.main-bar {
    
    display: block;;
    background-color: grey;
    height: 15px;
   
  }
  .main-bar span{
      background-color: teal;
      height: 15px;
      display: block;
      color: white;
  }

.java {
    width: 70%;
   animation: java 2s;
}

@keyframes java {
 0%{
     witdh: 0%;
 }
 100%{
     width: 90%;
 }
}


.javascript {
    width: 80%;
    animation: javascript 3s;
}

@keyframes javascript {
 0%{
     witdh: 0%;
 }
 100%{
     width: 90%;
 }
}

   .oracle {
    width: 70%;
    animation: oracle 3s;
}

@keyframes oracle {
 0%{
     witdh: 0%;
 }
 100%{
     width: 90%;
 }
}

   
   .sql {
    width: 80%;
    animation: sql 3s;
}

@keyframes sql {
 0%{
     witdh: 0%;
 }
 100%{
     width: 90%;
 }
}
   



   .plsql {
    width: 65%;
    animation: plsql 3s;
}

@keyframes plsql {
 0%{
     witdh: 0%;
 }
 100%{
     width: 90%;
 }
}
   
   
   .photoshop {
    width: 35%;
    animation: photoshop 3s;
   }

   @keyframes photoshop {
    0%{
        witdh: 0%;
    }
    100%{
        width: 90%;
    }
}

   .script {
    width: 55%;
    animation: script 3s;
   }

   @keyframes script {
    0%{
        witdh: 0%;
    }
    100%{
        width: 90%;
    }
}

   .linux {
    width: 80%;
    animation: linux 2s;
     }
   
   @keyframes linux {
       0%{
           witdh: 0%;
           background-color: white;
       }
       100%{
           width: 90%;
           background-color:rgb(47, 255, 255)
       }
   }

     @media screen and (max-width: 800px){
        .column
        width : 100%;
     }